.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 80%;
    min-width: 0;
    margin-left: 1rem;
}
.embla__slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}