:root {
    --font-primary: 'Orbitron', sans-serif;
    --color-black: #03010f;
    --color-neon-magenta: #f0f;
    --color-neon-teal: #0ff;
    --color-text: #e0e0e0;
    --color-text-dark: #a0a0a0;

    font-family: var(--font-primary);
    background-color: var(--color-black);
    color: var(--color-text);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: var(--color-neon-teal);
    text-shadow: 0 0 5px var(--color-neon-teal), 0 0 10px var(--color-neon-teal);
}